*{
margin:0;
padding:0;
}
body{
margin-top: 20px;
margin-bottom: 20px;
}
.main{
margin: auto;
width: 400px;
background: #f2f2f2;
overflow: hidden;
display: felx;
justify-content: space-between;
}
.gallery{
margin: 5px;
border: 1px solid #ccc;
float: left;
width: 800px;

}
.gallery img {
width: 50%;
height: 200px;


}

